.hr-small{
	width: 100px;
	margin: 20px auto;
}
.left-hr{
	width: 200px;
}
.top-page-navbar{
	background-color: white;
}
.top-page-header{
	padding-top: -60px;
}
.top-page-header2{
	padding-top: 80px;
	margin-top: -60px;
}
@media (min-width: 576px) {
	.top-page-profile{
		height: 400px;
		width: 80%;
		margin: 0 10%;
	}
	.top-page-profile1{
		height: 230px;
		margin: 20px 0 10px 0;
	}
	.top-page-profile2{
		height: 170px;
	}
}
@media (max-width: 576px) {
	.top-page-profile{
		height: 700px;
		width: 90%;
		margin: 0 5%;
	}
	.top-page-profile1{
		height: 480px;
		margin: 20px 0 10px 0;
	}
	.top-page-profile2{
		height: 220px;
	}
}
.top-page-concept{
	position: relative;
	z-index: 1;
}
.top-page-service{
	background-color: black;
	color: white;
	padding-top: 90px;
	/*margin-top: -60px;*/
	z-index: 100;
}
.top-page-portfolio {
	background-color: white;
	padding-top: 60px;
	margin-top: -60px;
}
.top-page-inquery{
	background-color: white;
	height: 650px;
}

.top-page-header-black-section{
	background-color: black;
	height: 900px;
	z-index: 2000;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.top-page-header-black-section.slidein.is-animated {
	animation: slideIn 1.2s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

@keyframes slideIn {
	0% {
		transform:  translateY(0);
	}
	100% {
		transform: translateY(0);
		height: 0px;
	}
	0%, 90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.top-page-header2-title {
	padding-top: 60px;
}
.top-page-header2-title h1 {
/*	text-align: left;
	padding-top: 80px;
	padding-left: 50px;*/
}
.top-page-header2-img {
	margin-top: -25px;
	height: 200px;
	width: 100%;
	background-image: url("https://storage.googleapis.com/kurihara_kazuya_image/header/meeting_Header3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.smooth-header2-title {
  clip-path: inset(0 100% 0 0);
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  transition: 1.2s cubic-bezier(0.37, 0, 0.63, 1);
  transition-property: clip-path;
  line-height: 1;
  height: 40px;
  margin-top: 15px;
}
.smooth-header2-title.is-animated {
  clip-path: inset(0);
}

/* profile */

.top-page-profile1-detail h1 {
  clip-path: inset(0 100% 0 0);
  display: inline-block;
  font-weight: bold;
  transition: 1.2s cubic-bezier(0.37, 0, 0.63, 1);
  transition-property: clip-path;
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 20px;
}
.top-page-profile1-detail h1.is-animated{
	clip-path: inset(0);
}

@media (min-width: 576px) {
	.top-page-profile1-img{
		width: 100%;
	}
	.top-page-profile1-detail {
		width: 95%;
		margin: 0 2.5%;
		text-align: left;
	}
	.top-page-profile1-detail h1 {
		font-size: 60px;
	}
	.top-page-profile1-job{
		background-color: #919191;
		color: white;
		margin-bottom: 20px;
		font-size: 20px;
		padding: 5px;
		width: 70%;
	}
	.top-page-profile1-detail h1 small {
		font-size: 30px;
	}
	.top-page-profile2-detail{
		width: 95%;
		margin: 0 2.5%;
		text-align: left;
	}
}

@media (max-width: 576px) {
	.top-page-profile1-img{
		width: 90%;
	}
	.top-page-profile1-detail {
		width: 95%;
		margin: 0 2.5%;
		text-align: left;
		border-bottom: 1px solid rgba(100, 100, 100, .5);
	}
	.top-page-profile1-detail h1 {
		font-size: 30px;
	}
	.top-page-profile1-detail h1 small {
		font-size: 15px;
	}
	.top-page-profile1-job{
		background-color: #919191;
		color: white;
		font-size: 15px;
		padding: 5px;
		width: 100%;
	}
	.top-page-profile2-detail{
		width: 95%;
		margin: 0 2.5%;
		text-align: left;
	}
}

.top-page-concept-left{
	background-color: rgba(100, 100, 100, .15);
	height: 500px;
	text-align: left;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 70px;
	animation: slideUp 1.5s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

@keyframes slideUp {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
	}
	40%, 100%{
		opacity: 1;
	}
}

.top-page-concept-left h3 {
	padding-top: 20px;
	font-size: 80px;
	line-height: 50px;
}
.top-page-concept-left h3 small{
	font-size: 20px;
}
.top-page-concept-left-content {
	font-size: 40px;
}

.top-page-concept-left-left-kakko {
	font-size: 30px;
	margin-left: -10px;
}

@media (min-width: 576px) {
	.top-page-concept-left-right-kakko{
		margin-top: 70px;
		font-size: 30px;
	}
}

@media (max-width: 576px) {
	.top-page-concept-left-right-kakko{
		margin-top: 140px;
		margin-left: -35px;
		font-size: 30px;
	}
}

.top-page-concept-right {
	animation: slideUp 1.5s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
	width: 80%;
	margin: 0 10%;
	text-align: left;
}

@media (min-width: 576px) {
	.top-page-concept-right-content{
		padding-top: 150px;
		line-height: 30px;
	}
}

@media (max-width: 576px) {
	.top-page-concept-right-content{
		padding-top: 75px;
		line-height: 30px;
		padding-bottom: 75px;
	}
}

.top-page-service-detail-text{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.top-page-service-detail-text-inner {
	text-align: left;
	margin-top: 30px;
	padding-bottom: 80px;
}

.top-page-inquery-title{
	margin: 40px 20% 0 20%;
	padding: 10px;
	width: 60%;
	background-color: black;
	color: white;

}
.top-page-inquery-title-text{
	width: 60%;
	margin: 30px 20%;
	text-align: left;
}
.top-page-inquery-form-content{
	margin-top: 20px;
}
.top-page-inquery-input{
	margin-bottom: 20px;
}
.top-page-inquery-textarea{
	height: 150px;
}

.portfolio-image{
	width: 90%;
	margin-left: 5%;
}
.portfolio-title{
	margin: 10px 0
}
.top-page-portfolio-title{

}
.top-page-portfolio.is_animated {
	animation: slideUp 2s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
.portfolio-text {
	width: 90%;
	margin: 10px 5%;
	text-align: left;
}